In [61]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
from webdriver_manager.chrome import ChromeDriverManager

## Step 1 - Scraping

### NASA Mars News

In [2]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

# Example:
# news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

# news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/petertran/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [4]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# Retrieve the parent divs for all articles
news_title = soup.find_all('div', class_='content_title')
news_p = soup.find_all('div', class_='article_teaser_body')

index_number = input('Which latest news article would you like to preview? (Insert numerical value, e.g. 0,1,2,...) You picked article ')
news_title = news_title[int(index_number)].text
news_p = news_p[int(index_number)].text
print("\n")
print(f'Title: {news_title}')
print('-'*30)
print(f'Preview Paragraph: {news_p}')

Which latest news article would you like to preview? (Insert numerical value, e.g. 0,1,2,...) You picked article 4


Title: NASA's Perseverance Mars Rover Mission Honors Navajo Language
------------------------------
Preview Paragraph: Data from the powerful science tool includes sounds of its laser zapping a rock in order to test what it’s made of.

### JPL Mars Space Images - Featured Image

In [59]:
image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'

browser.visit(image_url)
html = browser.html
soup = bs(html, "html.parser")

not_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
space_image_path = soup.find_all('img', class_='headerimage fade-in')[0]["src"]
featured_image_url = not_image_url + space_image_path
# https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg
#     image/featured/mars2.jpg
if space_image_path=='image/featured/mars2.jpg':
    print(featured_image_url)
else:
    print('Rerun this cell. Trust me.')

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

### Mars Facts

In [67]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.
# HELP
mars_facts_url = 'https://space-facts.com/mars/'

# browser.visit(mars_facts_url)
# html = browser.html
# soup = bs(html, "html.parser")

In [70]:
info_tables = pd.read_html(mars_facts_url)
info_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [71]:
mars_info_df = info_tables[0]
mars_info_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers